/* HomeMission.css */

.homemission-page {
  background-color: #e8724a;
  border-radius: 0px 0px 80px 80px;
  padding-bottom: 20px;
}

.HomeMission-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #e8724a;
}

.mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MissionList-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homemission-title {
  background-color: #e8724a;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: poppins;
}
